<div class= "border-bottom row" style= "margin-bottom: 16px; padding-bottom: 8px;">
  <div class= "col-9">
      <h4 style= "color:rgb(120,120,120); margin-bottom: 4px;">{{j['title']}}</h4>
    </div>
    <div>
      <b>Location:</b> {{j['location']}}
    </div>
    <div>
      <b>Salary:</b> {{j['Salary']}}
    </div>
    <div class= "col-3">
      <a href="mailto:mayanktanwar062@gmail.com?subject=Request for Job {{j['title']}}"><button type= "button" class= "btn btn-outline-primary" >Apply</button></a>
    </div>

  